# html-render\app.py: 1
# html-render\routes\builds.py: 1
# html-render\routes\index.py: 1
# html-render\routes\render.py: 1
# html-render\routes\rules.py: 1
# html-render\routes\url-to-image: 1
Flask == 2.1.2

# html-render\app.py: 2
Flask_Cors == 3.0.10

# html-render\src\tools.py: 1
Werkzeug == 2.1.2

# html-render\src\html_render.py: 1
selenium == 4.3.0

# html-render\src\html_render.py: 4
webdriver_manager == 3.8.0
