@import url('https://fonts.googleapis.com/css2?family=Mulish:wght@200;300;400;500;600;700;800;900&display=swa');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
    font-family: 'Mulish', sans-serif;
    scroll-behavior: smooth;
}

b {
    font-weight: 700;
    color: #2f353d;
}

a.button-link {
    width: calc(25% + 5vw);
    font-size: 1.125rem;
    line-height: 1.5rem;
    border-radius: 10px;
    padding: 1rem 1.5rem;
    text-align: center;
    justify-content: center;
    background-color: #e5e7eb;
    color: #2f353d;
    transition: all .3s ease-in-out;
}

a.button-link:hover {
    background-color: #6366f1;
    color: #e5e7eb;
}